@keyframes borderLeft {
  0% {
    width: 0;
  }

  50% {
    width: 20%;
  }

  100% {
    width: 30%;
  }
}

@keyframes borderLeftr {
  100% {
    width: 30%;
  }

  50% {
    width: 10%;
  }

  100% {
    width: 0;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  outline: 0;
}

body{
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #e5e5e5;
}

:root {
  --white-text: #fff;
  --theme-color: #02A2AF;
  --theme-hover-color: #02a2afe3;
}

header.admin {
  width: 100%;
  box-shadow: 0px 1px 12px #3333331a;
  position: fixed;
  background-color: #f9f9f9;
}

nav.admin-nav {
  width: 100%;
  margin: auto;
  display: flex;
}

.logo {
  width: 30%;
  margin-left: 20px;
  padding-top: 5px;
}

.profile {
  width: 70%;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  margin-right: 50px;
}

.profile-setting {
  width: 10%;
  text-align: center;
  border-right: 3px solid #333;
  margin: 20px;
}

.profile-setting svg {
  vertical-align: middle;
  padding-top: 10px;
  cursor: pointer;
}

.profile-user {
  padding: 25px 0;
}

.profile-user p {
  cursor: pointer;
}

.profile-user p span img {
  vertical-align: middle;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

aside.sidebar {
  width: 15%;
  height: 100vh;
  position: fixed;
  background-color: #F9F9F9;
  box-shadow: 0px 1px 12px #3333331a;
  z-index: -1;
}

.sidebar-nav {
  margin: 180px 30px 0;
  width: 85%;
}

.sidebar-nav ul {
  height: 60vh;
}

.sidebar-nav ul li {
  list-style: none;
  margin-bottom: 50px;
}

.sidebar-nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
  font-size: 16px;
}

.sidebar-nav ul li.active a {
  color: var(--theme-color);
}

.sidebar-nav ul li a svg {
  vertical-align: middle;
  margin-right: 5px;
}

.logout a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
  font-size: 16px;
}

.admin-main {
  background-color: #e5e5e5;
}

li.active {
  border-right: 7px solid var(--theme-color);
}

.admin-main {
  background-color: #e5e5e5;
  position: relative;
  width: 85%;
  float: right;
  padding-top: 15vh;
  z-index: -1;
}

#report-alert {
  width: 80%;
  margin: 30px auto 20px;
  text-transform: capitalize;
}

#report-alert p {
  color: var(--theme-color);
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
}

#report {
  width: 90%;
  background-color: #fff;
  margin: auto;
  padding: 50px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 3px;
}

#report-heading {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 30px;
}

#report-heading svg {
  vertical-align: middle;
  cursor: pointer;
}

.report-table {
  width: 90%;
  margin: auto;
}

#tabular-report {
  width: 100%;
  text-align: left;
}

.tb-s {
  width: 20%;
}

.tb-m {
  width: 60%;
}

tr {
  line-height: 60px;
}

.sep tr td {
  border-bottom: 1px solid #e5e5e5;
}

.recent-report {
  font-weight: 600;
}

.feedback {
  background: #F4F4F4;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 40px 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.feedback p:nth-child(1) {
  margin-bottom: 20px;
}

.response {
  width: 95%;
  margin-left: auto;
}

.feedback p:last-child {
  width: 80%;
}

.reportCounter {
  background-color: #FF4133;
  color: var(--white-text);
  border-radius: 100%;
  padding: 0 6px;
  margin: -10px -25px 0 10px;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
}

.menuicon path:hover {
  fill: var(--theme-color);
}

.sidebar-nav ul li a:hover {
  color: var(--theme-color);
}

.sidebar-nav ul li a svg:hover {
  fill: var(--theme-color);
}

.parent {
  width: 90%;
  background-color: #fff;
  margin: auto auto 30px;
  padding: 50px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 3px;
}

.admin-intro {
  width: 90%;
  margin: 50px auto 40px;
  display: flex;
  justify-content: space-around;
}

.admin-intro--hd {
  width: 30%;
}

.daycare-country {
  display: flex;
  width: 70%;
}

.logout a svg:hover {
  fill: var(--theme-color);
}

.logout a:hover {
  color: var(--theme-color);
}

.country {
  width: 17%;
  cursor: pointer;
}

.country img {
  vertical-align: middle;
  height: 23px;
  margin-right: 10px;
}

.country p {
  font-weight: 500;
}

.admin-intro--hd h3 {
  font-weight: 600;
}

.country.active:after {
  content: '';
  background-color: var(--theme-color);
  height: 3px;
  width: 30%;
  display: block;
  margin-left: 25px;
}

.country.active p {
  font-weight: 600;
}

.country.active:hover:after {
  animation: borderLeft 0.3s linear;
}

.country:after {
  content: '';
  background-color: var(--theme-color);
  height: 3px;
  width: 30%;
  display: none;
  margin-left: 25px;
}

.country:hover:after {
  display: block;
  animation: borderLeft 0.3s linear;
}

.parent-quick {
  width: 90%;
  margin: auto;
}

.parent-card {
  width: 25%;
  text-align: center;
  padding: 20px 10px;
  margin: 10px;
  background: #FFFFFF;
  box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.parent-quick h4 {
  font-size: 20px;
  font-weight: 600;
}

.parent-quick--info {
  display: flex;
  margin-top: 50px;
}

.parent-card h5 {
  font-size: 25px;
  font-weight: 600;
  margin-top: -5px;
  margin-bottom: 5px;
}

.parent-card p {
  font-size: 15px;
  font-weight: 500;
}

.gap {
  padding: 50px;
}

.profile-setting svg:hover {
  fill: var(--theme-color);
}

.parent-table {
  width: 70%;
  margin-left: 50px;
  margin-top: 20px;
}

#parent-report {
  border-collapse: collapse;
}

.parent-report--row th:nth-child(1) {
  width: 30%;
  text-align: left;
  padding-left: 30px;
}

.parent-report--row th:last-child {
  width: 80%;
  text-align: left;
  float: left;
  border-left: 1px solid #e5e5e5;
  padding-left: 30px;
}

.parent-report--row td:nth-child(1) {
  width: 30%;
  text-align: left;
  padding: 0 10px 0 20px;
  line-height: 30px;
}

.parent-report--row td:last-child {
  width: 70%;
  text-align: left;
  float: left;
  border-left: 1px solid #e5e5e5;
  padding-left: 30px;
}

.parent-report--row {
    border: 1px solid #e5e5e5;
}

#admin-intro {
  width: 90%;
  margin: 50px auto 40px;
}

.daycare-city {
  width: 90%;
  margin: auto;
  padding: 40px 0 0;
  display: flex;
  justify-content: start;
}

.city {
  width: 30%;
}

.dy-no {
  width: 50%;
  text-align: left;
}

.acc-holder p {
  font-weight: normal;
  color: #000;
  width: 100%;
}

.btn-holder {
  width: 100%;
  padding: 20px 0;
}

.profile-accordion {
  width: 90%;
  margin: auto;
}

.daycar-holder {
  width: 80%;
  margin-right: auto;
  padding-top: 20px;
}

.accordion {
  background: rgba(244, 244, 244, 0.35);
  border: 1px solid rgba(196, 196, 196, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  text-align: left;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  display: flex;
  cursor: pointer;
}

.accordion span {
  margin-left: 30%;
}

.accordion:after {
  content: url(../img/downarrow.svg);
  background-size: 10px;
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: url(../img/arrowup.svg);
}

.acc-holder {
  margin: 30px 0;
}

.panel {
  padding: 10px 20px;
  display: none;
  background-color: #fbfbfb;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: -30px 0 20px;
}

.l {
  width: 45%;
}

.r {
  width: 50%;
}

.accordion.active {
  border: none;
}

.l h4, .r h4, .l p, .r p {
  padding-bottom: 10px;
}

.parent-dy--row th, .parent-dy--row td {
  width: 25%;
  text-align: left;
  border: 1px solid #e5e5e5;
  padding: 0 30px;
}

.parent-table-lr {
  width: 90%;
  margin-left: 50px;
  margin-top: 20px;
}

#parent-report- {
  border-collapse: collapse;
}

.parent-dyrev--row th, .parent-dyrev--row td {
  width: 10%;
  text-align: left;
  border: 1px solid #e5e5e5;
  padding: 0 10px;
}

#total {
  text-align: right;
  font-weight: 600;
  padding-top: 20px;
}

#total span {
  font-size: 30px;
  margin-left: 20px;
  font-weight: 500;
}

.parent-table-c {
  width: 50%;
  margin-left: 50px;
  margin-top: 20px;
}

.sort {
  width: 35%;
  float: right;
  margin-top: -32px;
  font-weight: 600;
  cursor: pointer;
}

.sort svg {
  vertical-align: middle;
}

.sort-list {
  display: flex;
  width: 43%;
  position: absolute;
  right: 0;
  margin-top: -34%;
}

.none {
  display: none;
}
.month, 
.year {
  width: 20%;
  margin: 0 5px;
}

.quarterly {
  width: 40%;
}

.month a,
.year a,
.quarterly a {
  color: #333;
  text-decoration: none;
  line-height: 40px;
  display: block;
}

.month a:hover, .year a:hover, .quarterly a:hover {
  color: var(--theme-color);
}

.form-control {
  width: 90%;
  padding: 14px 15px;
  margin: 10px 0 20px;
  background-color: rgba(244, 244, 244, 0.35);
  border: 1px solid rgba(196, 196, 196, 0.2);
}

.provider-quick {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#pr-select {
  width: 50%;
  line-height: 27px;
  position: relative;
}

.pr-sort {
  width: 35%;
  font-weight: 600;
  cursor: pointer;
}

.provider-quick .sort {
  margin-top: 0;
  width: 10%;
}

.pr-analytics {
  width: 100%;
}

.chart {
  position: relative;
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

.pr-analytics .sort-list {
  margin-top: -45%;
  margin-right: 60px;
  background-color: #fff;
  width: 40%;
  padding: 30px 20px 0 50px;
  box-shadow: 0px 1px 12px #3333331a;
}

.arr {
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

.arr:after {
  content: url(../img/arr.svg);;
  float: right;
}

.pr-dropdown {
  list-style: none;
  font-size: .9rem;
  font-weight: 600;
  padding-bottom: 20px;
  position: absolute;
  background-color: #fbfbfb;
  width: 100%;
  left: 0;
  z-index: 1;
}

#pr-heading {
  width: 80%;
}

.pr-dropdown li {
  margin: 0 15px;
}

@media screen and (max-width: 1024px) {
  .landing-text h2 {
    font-size: 40px;
  }

  .country {
    width: 25%;
  }

  .daycare-country {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .country {
    width: 35%;
  }

  .admin-intro--hd {
    width: 50%;
  }

  .parent-quick--info {
    flex-wrap: wrap;
  }

  .parent-card {
    width: 40%;
  }

  aside.sidebar {
    display: none;
    /* width: 100%;
    position: static; */
  }

  .sidebar-nav ul {
    height: 10vh;
    display: flex;
  }

  .admin-main {
    width: 100%;
  }

  .parent-report--row {
    display: flex;
    flex-direction: column;
  }

  .parent-report--row td:nth-child(1) {
    width: 100%;
  }

  .admin-intro {
    flex-direction: column;
  }

  .admin-intro--hd {
    width: 100%;
  }

  .country {
    width: 100%;
    margin-top: 20px;
  }

  .parent-table {
    width: 80%;
    margin-left: 16px;
  }

  .daycar-holder {
    width: 100%;
  }

  .city {
    width: 50%;
  }

  .provider-quick .sort {
    width: 20%;
  }

  
}

@media screen and (max-width: 600px) {

  .parent-quick--info {
    flex-direction: column;
  }

  .parent-card {
    width: 85%;
  }

  .profile-setting {
    padding-right: 8px;
  }

  .admin-main {
    width: 100%;
  }

  .profile {
    margin-right: 20px;
  }

  .profile-user {
    font-size: 13px;
  }

  .logo {
    width: 40%;
  }

  .parent-dy--row {
    display: flex;
    flex-direction: column;
  }

  .parent-table-lr {
    margin-left: 0;
  }

  .parent-dy--row th, .parent-dy--row td {
    width: 80%;
  }

  #parent-report- {
    margin: auto;
    width: 80%;
  }

  .parent-dyrev--row {
    display: flex;
    flex-direction: column;
  }

  .parent-dyrev--row th, .parent-dyrev--row td {
    width: 100%;
  }

  .parent-quick {
    display: flex;
    flex-direction: column;
  }
  
  .sort {
    margin-top: 15px;
  }

  .parent-table-c {
    width: 90%;
    margin-left: -5px;
  }

  tr.sep {
    display: flex;
    flex-direction: column;
  }

  .recent-report {
    display: flex;
    flex-direction: column;
  }

  tr {
    flex-direction: column;
    display: flex;
  }

  .provider-quick {
    flex-direction: column;
  }

  #pr-heading h3 {
    font-size: 16px;
  }

  .provider-quick .sort {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 46%;
  }

  #pr-select {
    width: 90%;
  }

}

@media screen and (max-width: 320px) {
  .profile-setting {
    padding-right: 20px;
    margin: 20px 15px;
  }
}